name: Metrics
on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: nilserratio
          template: classic
          filename: github-metrics/metrics.svg
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Madrid
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

      - name: Commit & push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add github-metrics/metrics.svg
          git commit -m "chore: update metrics" || exit 0
          git push
